gym==0.9.4
toolz==0.9.0
matplotlib==3.1.1
pandas==0.25.1
graphviz==0.12
pydotplus==2.0.2
tqdm==4.35.0
torch==1.3.1
Pympler==0.8
scipy==1.3.1
contexttimer==0.3.3
frozendict==1.2
numpy==1.17.2
ipython==7.11.1
keras==2.3.1
PyContracts==1.8.12
scikit_learn==0.22.1
